@tailwind base;
@tailwind components;
@tailwind utilities;

.input-adornment-enter-active {
	display: flex;
	animation: fadeIn ease-in-out 0.3s forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		
	}
	to {
		opacity: 1;
		
	}
}
